<%#KILL ALL EXPIRED LINKS %>
<% cleanLinks(@bubble) %>

<% provide(:title, @bubble.title) %>
<p>This is bubble of title <%= @bubble.title%></p>
<%= render 'items/form' %>
<% if @bubble.items.any? %>
	<%= render @bubble.items %>
<% else %>
	<p>No files uploaded yet</p>
<% end %>
<%= render 'links/form' %>
<%= render @bubble.links %>