<div class="row introBlock">
	<div class="col_2">&nbsp;</div>
	<div class="col_8 textcenter">
		<h1 class="alt" style="margin-bottom:0;">Data Structures Homework</h1>
		<br>
		<a href="#" class="btn green" id="linkGen">Make & Copy New Link</a>
	</div>
	<div class="col_2 last">&nbsp;</div>
</div>
<div class="row dropzone textcenter">
	<ul>
		<li>
			<a href="#" class="file">
				<div class="fileBox">
					<%= image_tag("../assets/icons/placeholder.png") %>
					<h4 class="fileName">File Name 1</h4>
					<p class="fileDate">8/24/94</p>
				</div>		
			</a>			
		</li>
		<li>
			<a href="#" class="file">
				<div class="fileBox">
					<%= image_tag("../assets/icons/placeholder.png") %>
					<h4 class="fileName">File Name 2</h4>
					<p class="fileDate">8/24/94</p>
				</div>		
			</a>			
		</li>
		<li>
			<a href="#" class="file">
				<div class="fileBox">
					<%= image_tag("../assets/icons/placeholder.png") %>
					<h4 class="fileName">File Name 1</h4>
					<p class="fileDate">8/24/94</p>
				</div>		
			</a>			
		</li>
		<li>
			<a href="#" class="file">
				<div class="fileBox">
					<%= image_tag("../assets/icons/placeholder.png") %>
					<h4 class="fileName">File Name 2</h4>
					<p class="fileDate">8/24/94</p>
				</div>		
			</a>			
		</li>
		<li>
			<a href="#" class="file">
				<div class="fileBox">
					<%= image_tag("../assets/icons/placeholder.png") %>
					<h4 class="fileName">File Name 1</h4>
					<p class="fileDate">8/24/94</p>
				</div>		
			</a>			
		</li>
		<li>
			<a href="#" class="file">
				<div class="fileBox">
					<%= image_tag("../assets/icons/placeholder.png") %>
					<h4 class="fileName">File Name 2</h4>
					<p class="fileDate">8/24/94</p>
				</div>		
			</a>			
		</li>
		<li>
			<a href="#" class="file">
				<div class="fileBox">
					<%= image_tag("../assets/icons/placeholder.png") %>
					<h4 class="fileName">File Name 1</h4>
					<p class="fileDate">8/24/94</p>
				</div>		
			</a>			
		</li>
		<li>
			<a href="#" class="file">
				<div class="fileBox">
					<%= image_tag("../assets/icons/placeholder.png") %>
					<h4 class="fileName">File Name 2</h4>
					<p class="fileDate">8/24/94</p>
				</div>		
			</a>			
		</li>
	</ul>
</div>