<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag "common" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Noto+Sans:400,700|Bree+Serif' rel='stylesheet' type='text/css'>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
  <%= javascript_include_tag "dropzone.min" %>
	<%= javascript_include_tag "zClip" %>

</head>
<body>
	<header class="row logo fullwidth"> &nbsp;
	</header>

<%= yield %>

<% if Rails.env.development? %>
	<div class="debug" %>
		<%= debug(params) %>
	</div>
<% end %>

	<footer class="row fullwidth">
		<div class="col_12 textcenter">
			<a href="/bubbles/new/">HOME</a>
			<a href="/pages/team.html">TEAM</a>
			<a href="/pages/terms.html">TERMS</a>
			<a href="/pages/what.html">ABOUT BUBBL</a>
		</div>
	</footer>
</body>
<script>

  function getHashFromURL(){
    var currentURL = document.URL;
    var currentURL = ""+currentURL;
    var currentURL = currentURL.slice(-6,-1);
    return currentURL;
  }

  function getIDFromForm(){
    var formAction = $('.newBubble #new_item').attr('action');
    var formAction = ""+formAction;
    var formAction = formAction.reverse();
    var IDFromForm = "";
    var start_recording = false;
    for (var i = 0; i<formAction.length; ++i){
      if (formAction.charAt(i)=='/')
        start_recording = true;
      if (start_recording)
        IDFromForm = IDFromForm + formAction.charAt(i);
      if (start_recording && formAction.charAt(i)=='/')
        start_recording = false;
    }
    return IDFromForm;
  }
  
  $(function(){
    //alert("asdf");
    var value = getIDFromForm();
    alert(value);
  });
/*

  	function currentIDTest(){
  		var currentID = document.URL;
  		var currentID = ""+currentID;
  		var currentID = currentID.slice(-6,-1);
  		return currentID;
  	}

  	function switchButton(element, string){
  		element.html(string);
  	}

  	function createAndRedirect(){
  		var newLink = $.get("/bubbles/" + currentIDTest() + "/links/new", function(data){
				window.location = "http://bubbl.io/"+data;
			}).done(function(){
			}).fail(function(){
			}).always(function(data){
			});
  	}

    function getBubbleID(){
      var ID_value;
      var bubbleID = $.get("/bubbles/getID", function(data){
        ID_value = data;
      }).done(function(){
      }).fail(function(){
      }).always(function(data){ 
      });
      console.log(ID_value);
      return String(ID_value);
    }
	function generateLink(){
		var newLink = $.get("/bubbles/" + currentIDTest() + " /links/new", function(data){
				switchButton($(".introBlock .textcenter h1"), "http://bubbl.io/"+data);
			}).done(function(){
			}).fail(function(){
			}).always(function(data){
			});
	}


  	$(function(){
  		$("#linkGen").click(function(){
  			generateLink();
  		});

  		$(".newBubble form").change(function(){
  			createAndRedirect();
  		})
*/

  		/*var copy_link = generateLink();
   		$("#linkGen").zclip({
		 	path: "../../../ZeroClipboard.swf",
		 	copy: copy_link,
		 	beforeCopy:function(){
		 		$(this).html("LINK IS COPIED TO YOUR CLIPBOARD")
		 		alert("beforecopy");
		 	},
		 	afterCopy:function(){
		 		alert("aftercopy");
		 	}*/
	//});

  	

  </script>
</html>
